[Unit]
Description=wfRadius daemon
Documentation=https://github.com/404/404
After=network-online.target

[Service]
Type=simple
ExecStart=/home/alarm/wfRadius/wfRadius_linux_arm /home/alarm/wfRadius
User=alarm
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
